<% @post.comments.each do |comment| %>
	<div>
		<h4><%= comment.user.name %></h4>
		<p><%= comment.rating %></p>
		<p><%= simple_format(comment.content) %></p>
		<p class="text-muted">
			<em><%= time_ago_in_words(comment.created_at) %> ago</em>
		</p>
	</div>
	<% if user_signed_in? %>
		<%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
	<% end %>
<% end %>