<h1>Th is a index.</h1>

<% @posts.each do |post| %>
	<ul>
		<li>
			<%= post.title %>
			<%= post.link %>
			<%= post.description %>
			<%= post.rating %>
			<%= image_tag(post.image_url) %>
			<%= link_to "Show", post_path(post) %>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"} %>
		</li>
	</ul>
<% end %>

<%= link_to "New Post", new_post_path %>